
.dolor
{
  font-size:x-large;
  font-weight: bold;
  color:#ff6768;
  text-align: center;
  position: relative;
  bottom: 145px;
  right:-64px;

  margin-right:160px;
  margin-left: 117px;
  padding: 20px 117px 495px 23px;
}
.pargh2
{
  font-family: fantasy;
  text-align: left;
  margin-top: -117px;
  margin-left: 595px;
  display: block;
  width: 500px;
  position: absolute;
  top: 750px;

}

.img2::before {
    content: "";
    background-image: url(images/girl_com.jpeg);
    width: 294px;
    height: 225px;
    position: absolute;
    left: 211px;
    top: 594px;
    background-size: cover;
    border-radius: 45px;
}

.ser span{

  font-size: 45px;
  font-weight: bold;
  color:#1e272e;
  position: absolute;
  right:650px;
  top: -500px;
}
.ser p{
  font-size:25px;
  position: absolute;
  right:680px;
  top: -450px;
}

    .one::before {
       content: " ";
       background-color: #ef5777;
       border: 1px solid #ef5777;
       position: absolute;
       left: 245px;
       width: 178px;
       height: 80px;
       top: 55px;
       text-align: center;
       font-weight: bold;
       font-size: 18px;
       margin-top:970px;
   }
   .one p{
    position: absolute;
    left: 290px;
    top: 1045px;
    font-size: 25px;
   }

   .B1 img
   {
     position: absolute;
     left: 305px;
     top: 1030px;
     border: 1px solid;
     border-radius: 50%;

   }





   .tow::before {
      content: " ";
      background-color:#1e272e;
      border: 1px solid #1e272e;
      position: absolute;
      top:298px;
      left: 315px;
      width: 178px;
      height: 80px;
      top: 55px;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      margin-top:970px;
      margin-left: 225px;
  }


  .tow p{
   position: absolute;
   left: 585px;
   top: 1045px;
   font-size: 25px;
   color:#ef5777;
  }

  .B2 img
  {
    position: absolute;
    left: 601px;
    top: 1030px;
    border-radius: 50%;


  }

  .three::before {
     content: " ";
     background-color: #0be881;
     border: 1px solid #0be881;
     position: absolute;
     top:300px;
     left: 295px;
     width: 178px;
     height: 80px;
     top: 55px;
     text-align: center;
     font-weight: bold;
     font-size: 18px;
     margin-top:970px;
     margin-left: 497px;
 }

 .three p{
  position: absolute;
  left: 835px;
  top: 1045px;
  font-size: 25px;
  color:#ef5777;
 }

 .B3 img
 {
   position: absolute;
   left: 855px;
   top: 1030px;
   border-radius: 50%;

 }

 .four::before {
    content: " ";
    background-color: #ef5777;
    border: 1px solid #ef5777;
    position: absolute;
    top:300px;
    left: 315px;
    width: 178px;
    height: 80px;
    top: 55px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top:970px;
    margin-left: 730px;
}

.four p{
 position: absolute;
 left: 1090px;
 top: 1045px;
 font-size: 25px;
}

.B4 img
{
  position: absolute;
  left: 1115px;
  top: 1030px;
  border-radius: 50%;

}
